<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Blog</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  h1 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  img {
    height: 60px;
  }
</style>
<body>


<!--img-->
<form  action="/blog/create" method="post" th:object="${blog}" enctype="multipart/form-data">
  <div class="form-row" >
    <div class="form-group col-md-6">
      <label class="label_form" >Title</label>
      <span style="color: red">*</span>
      <input th:field="*{title}" class="form-control"  placeholder="Title">
    </div>

    <div class="form-group col-md-4">
      <label class="label_form">Categories</label>
      <span style="color: red">*</span>
      <select th:field="*{category.categoryId}"  class="form-control" id="exampleFormControlSelect1" required="required">
        <option th:each="c :${category}" th:text="${c.categoryName}" th:value="${c.categoryId}"></option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="label_form" >Content</label>
      <span style="color: red">*</span>
      <textarea th:field="*{content}"  class="form-control"  placeholder="Content"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1" class="text-danger"><i class="fas fa-file-image fa-4x"></i></label>
    <label class="label_form" for="exampleFormControlFile1">Image</label>
    <input type="file" name="img" class="form-control-file" accept="image/x-png,image/gif,image/jpeg" id="exampleFormControlFile1">
  </div>

  <input type="submit" value="Submit"  class="btn btn-success">
</form>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>