<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhc2Wr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
  .testbutton {
    font-family: arial;
    color: #0D0508 !important;
    font-size: 16px;
    text-shadow: 1px 4px 4px #7CACDE;
    box-shadow: 2px 2px 2px #BEE2F9;
    padding: 10px 25px;
    border-radius: 10px;
    border: 2px solid #3866A3;
    background: #D4E4EE;
    background: linear-gradient(to top, #D4E4EE, #A4CFAC);
  }
  .testbutton:hover {
    color: #14396A !important;
    background: #468CCF;
    background: linear-gradient(to top, #468CCF, #63B8EE);
  }

</style>
<body>

<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Phone Number</th>
    <th scope="col">Age</th>
  </tr>
  <tr th:each="u :${user}">
    <td th:text="${u.id}"></td>
    <td th:text="${u.firstName}"></td>
    <td th:text="${u.lastName}"></td>
    <td th:text="${u.phoneNumber}"></td>
    <td th:text="${u.age}"></td>
  </tr>
  </thead>
</table>
<button class="testbutton " ><a style="font-size: 16px; text-decoration: none" th:href="@{/user/create}">Create new account</a> </button>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>