<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Product</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script
          src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<style>
  .inline{
    display: inline-block;
  }
  span{
    font-size: 25px;
  }
</style>
<body>
<h1>Payment Success!</h1>
<h2 class="inline"><b>Total Price:</b></h2>
<span th:text="${totalPrice}"></span>
<br><br><br>
<button type="button" class="btn btn-primary btn-sm" onclick="window.location.href='/product/view'">Continue Shopping</button>
</body>
</html>